pipeline/NotifiyTeamsChannelPipeline.json
{
	"name": "NotifiyTeamsChannelPipeline",
	"properties": {
		"activities": [
			{
				"name": "Set JSON schema",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "messageCard",
					"value": {
						"value": "{\n    \"@type\": \"MessageCard\",\n    \"@context\": \"http://schema.org/extensions\",\n    \"themeColor\": \"0076D7\",\n    \"summary\": \"Pipeline status alert message​​​​\",\n    \"sections\": [\n        {\n            \"activityTitle\": \"Pipeline execution alert​​​​\",\n            \"facts\": [\n                {\n                    \"name\": \"Subscription Id:\",\n                    \"value\": \"@{pipeline().parameters.subscription}\"\n                },\n                {\n                    \"name\": \"Resource Group:\",\n                    \"value\": \"@{pipeline().parameters.resourceGroup}\"\n                },\n                {\n                    \"name\": \"Data Factory Name:\",\n                    \"value\": \"@{pipeline().DataFactory}\"\n                },\n                {\n                    \"name\": \"Pipeline RunId:\",\n                    \"value\": \"@{pipeline().parameters.runId}\"\n                },\n                {\n                    \"name\": \"Pipline Name:\",\n                    \"value\": \"@{pipeline().parameters.name}\"\n                },\n                {\n                    \"name\": \"Pipeline Status:\",\n                    \"value\": \"@{pipeline().parameters.status}\"\n                },\n                {\n                    \"name\": \"Execution Start Time (UTC):\",\n                    \"value\": \"@{pipeline().parameters.triggerTime}\"\n                },\n                {\n                    \"name\": \"Execution Finish Time (UTC):\",\n                    \"value\": \"@{pipeline().parameters.executionEndTime}\"\n                },\n                {\n                    \"name\": \"Execution Duration (s):\",\n                    \"value\": \"@{pipeline().parameters.runDuration}\"\n                },\n                {\n                    \"name\": \"Message:\",\n                    \"value\": \"@{pipeline().parameters.message}\"\n                },\n                {\n                    \"name\": \"Notification Time (UTC):\",\n                    \"value\": \"@{utcNow()}\"\n                }\n            ],\n            \"markdown\": true\n        }\n    ],\n    \"potentialAction\": [\n        {\n            \"@type\": \"OpenUri\",\n            \"name\": \"View pipeline run\",\n            \"targets\": [\n                {\n                    \"os\": \"default\",\n                    \"uri\": \"@{concat('https://adf.azure.com/monitoring/pipelineruns/',pipeline().parameters.runId,'?factory=/subscriptions/',pipeline().parameters.subscription,'/resourceGroups/',pipeline().parameters.resourceGroup,'/providers/Microsoft.DataFactory/factories/',pipeline().DataFactory)}\"\n                }\n            ]\n        }\n    ]\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Invoke Teams Webhook Url",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set JSON schema",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().parameters.teamWebhookUrl",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"body": {
						"value": "@json(variables('messageCard'))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"subscription": {
				"type": "string",
				"defaultValue": "85ba0bb5-dab1-4ecd-a8af-cc10b09d6068"
			},
			"resourceGroup": {
				"type": "string",
				"defaultValue": "STL-ANALYTICS-DEV"
			},
			"runId": {
				"type": "string",
				"defaultValue": "@activity('Specify name of the calling pipeline').output['pipelineRunId']"
			},
			"name": {
				"type": "string",
				"defaultValue": "@activity('Specify name of the calling pipeline').output['pipelineName']"
			},
			"triggerTime": {
				"type": "string",
				"defaultValue": "@activity('Specify name of the calling pipeline').ExecutionStartTime"
			},
			"status": {
				"type": "string",
				"defaultValue": "@activity('Specify name of the calling pipeline').Status"
			},
			"message": {
				"type": "string",
				"defaultValue": "@activity('Specify name of the calling pipeline').Error['message']"
			},
			"executionEndTime": {
				"type": "string",
				"defaultValue": "@activity('Specify name of the calling pipeline').ExecutionEndTime"
			},
			"runDuration": {
				"type": "string",
				"defaultValue": "@activity('Specify name of the calling pipeline').Duration"
			},
			"teamWebhookUrl": {
				"type": "string",
				"defaultValue": "https://scf.webhook.office.com/webhookb2/5723cf3e-52d5-47d8-a13a-088c04fcf421@341a3b2e-0537-4277-bae5-fc734ce03e96/IncomingWebhook/1773f53b158f48a7846acc442005fadb/d7d4a893-7992-4a85-abee-f7622db41075"
			}
		},
		"variables": {
			"messageCard": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-03-25T00:48:15Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}