pipeline/PL_Master.json
{
	"name": "PL_Master",
	"properties": {
		"activities": [
			{
				"name": "Get Pipeline Paramenter",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PiplelineId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spGetPipelineParameter]",
						"storedProcedureParameters": {
							"queryId": {
								"type": "Int32",
								"value": "1"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_CONTROL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "PL_Raw",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Get Pipeline Paramenter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_Raw",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"SinkFolder": {
							"value": "@activity('Get Pipeline Paramenter').output.firstRow.SinkFolder",
							"type": "Expression"
						},
						"KeyVault": {
							"value": "@activity('Get Pipeline Paramenter').output.firstRow.KeyVaultUrl",
							"type": "Expression"
						},
						"BaseUrl": {
							"value": "@activity('Get Pipeline Paramenter').output.firstRow.BaseUrl",
							"type": "Expression"
						},
						"Query": {
							"value": "@activity('Get Pipeline Paramenter').output.firstRow.Query",
							"type": "Expression"
						},
						"DataLakeURL": {
							"value": "@activity('Get Pipeline Paramenter').output.firstRow.DataLakeUrl",
							"type": "Expression"
						},
						"DataLakeSA": {
							"value": "@activity('Get Pipeline Paramenter').output.firstRow.DataLakeUrlQuery",
							"type": "Expression"
						},
						"EntityName": {
							"value": "@activity('Get Pipeline Paramenter').output.firstRow.EntityName",
							"type": "Expression"
						},
						"PipelineId": {
							"value": "@variables('PipelineId')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "PiplelineId",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineId",
					"value": {
						"value": "@pipeline().TriggerId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "PL_Raw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_Cleanse",
						"type": "DataFlowReference",
						"datasetParameters": {
							"JSONRaw": {
								"FolderPath": {
									"value": "@concat(activity('Get Pipeline Paramenter').output.firstRow.SinkFolder, '/', formatDateTime(convertTimeZone(utcNow(), 'UTC' ,'AUS Eastern Standard Time'),'yyyy'), '/', formatDateTime(convertTimeZone(utcNow(), 'UTC' ,'AUS Eastern Standard Time'),'MM'), '/', formatDateTime(convertTimeZone(utcNow(), 'UTC' ,'AUS Eastern Standard Time'),'dd'))",
									"type": "Expression"
								},
								"FileName": {
									"value": "@concat(activity('Get Pipeline Paramenter').output.firstRow.EntityName, '_',variables('PipelineId'),'.json')",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"variables": {
			"PipelineId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Metadata-driven Pipeline"
		},
		"annotations": []
	}
}