pipeline/PL_Master.json
{
	"name": "PL_Master",
	"properties": {
		"activities": [
			{
				"name": "Get Pipeline Paramenter",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spGetPipelineParameter]",
						"storedProcedureParameters": {
							"queryId": {
								"type": "Int32",
								"value": "2"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_CONTROL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Get Pipeline Paramenter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_Raw",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"SinkFolder": {
							"value": "@activity('Get Pipeline Paramenter').output.SinkFolder",
							"type": "Expression"
						},
						"KeyVault": {
							"value": "@activity('Get Pipeline Paramenter').output.KeyVaultUrl",
							"type": "Expression"
						},
						"BaseUrl": {
							"value": "@activity('Get Pipeline Paramenter').output.BaseUrl",
							"type": "Expression"
						},
						"Query": {
							"value": "@activity('Get Pipeline Paramenter').output.Query",
							"type": "Expression"
						},
						"EntityName": {
							"value": "@activity('Get Pipeline Paramenter').output.EntityName",
							"type": "Expression"
						}
					}
				}
			}
		],
		"folder": {
			"name": "Metadata-driven Pipeline"
		},
		"annotations": []
	}
}