pipeline/PL_Raw.json
{
	"name": "PL_Raw",
	"properties": {
		"activities": [
			{
				"name": "Get Key Vault Secret",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://stlanalyticskeyvault.vault.azure.net/secrets/', pipeline().parameters.KeyVault, '?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Source REST API Call",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Key Vault Secret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().parameters.BaseUrl, '/', pipeline().parameters.Query)",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@activity('Get Key Vault Secret').output.value",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Save Output To Blob",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Source REST API Call",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().parameters.DataLakeSA, pipeline().parameters.SinkFolder, pipeline().parameters.DataLakeSA)",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "PUT",
					"headers": {
						"x-ms-blob-type": "BlockBlob"
					},
					"body": {
						"value": "@activity('Source REST API Call').output",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SinkFolder": {
				"type": "string"
			},
			"KeyVault": {
				"type": "string"
			},
			"BaseUrl": {
				"type": "string"
			},
			"Query": {
				"type": "string"
			},
			"DataLakeURL": {
				"type": "string"
			},
			"DataLakeSA": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Metadata-driven Pipeline"
		},
		"annotations": [],
		"lastPublishTime": "2022-03-16T03:41:09Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}