pipeline/PL_TEST_InitialiseOrRegular.json
{
	"name": "PL_TEST_InitialiseOrRegular",
	"properties": {
		"activities": [
			{
				"name": "chkParquetFileExists",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Curated_Rosterfy_User",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "chkParquetFileExists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('chkParquetFileExists').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "RunDFCuratedRosterfyUser",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DF_Curate_Rosterfy_User",
									"type": "DataFlowReference"
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "varTest",
								"value": "YES_TRUE"
							}
						}
					]
				}
			}
		],
		"variables": {
			"varTest": {
				"type": "String",
				"defaultValue": "TestTRUE"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-03-16T23:52:21Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}